@font-face {
  font-family: 'Quattrocento Sans';
  src: url(./fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(./fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf)
    format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(./fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf)
    format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(./fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf)
    format('truetype');
  font-style: italic;
  font-weight: bold;
}
