@font-face {
  font-family: Sniglet;
  src: url(./fonts/Sniglet/Sniglet-Regular.ttf) format('woff');
}

@font-face {
  font-family: Sniglet;
  src: url(./fonts/Sniglet/Sniglet-ExtraBold.ttf) format('woff');
  font-weight: bold;
}
