@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand/Quicksand-Regular.ttf) format('woff');
}

@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand/Quicksand-Bold.ttf) format('woff');
  font-weight: bold;
}
