@font-face {
  font-family: Roboto_Slab;
  src: url(./fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('woff');
}

@font-face {
  font-family: Roboto_Slab;
  src: url(./fonts/Roboto_Slab/RobotoSlab-Bold.ttf) format('woff');
  font-weight: bold;
}