// font size
.display-4 {
	font-size: 120px;
}
.display-3 {
	font-size: 56px;
}
.display-2 {
	font-size: 45px;
}
.display-1 {
	font-size: 34px;
}
.headline {
	font-size: 24px;
}
.title {
	font-size: 20px;
}
.subheading {
	font-size: 16px;
}

// font align
.text-center {
	text-align: center;
}
